li {
  list-style: none;
  margin: 0px 5px;
  /* text-decoration: none; */
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 80px;
  background-color: rgb(240, 240, 240);
}

.nav h2{
  text-align: center;
  margin-top: -30px;
}

.menu {
  margin-left: 800px;
  margin-top: -35px;
  display: flex;
  gap: 5px;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.login-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: gray;
  border: 2px solid rosybrown;
  margin-left: 25%;
}

.login-container > label > input {
  margin: 1em;
  border: 1px solid red;
}

.login-container > button {
  margin-top: 2em;
  width: 20%;
  line-height: 2em;
  background-color: orangered;
  color: white;
}

.search-bar {
  margin-top: 10px;
  margin-left: 450px;
}

.search-bar > form > button {
  margin: 1em;
  width: 6%;
  line-height: 2em;
  background-color: orangered;
  color: white;
}
.avatar {
  margin: 0px 50px;
}

.avatar  img {
  width: 100px;
  height: 100px;
  vertical-align: middle;
}

.details-container {
  margin-top: 2em;
  display: flex;
  justify-content: baseline;
}

.details-content {
  background-color: gainsboro;
  border-radius: 3px;
  width: 40%;
  border: 2px solid orchid;
}
